.about {
    background: url(../images/about-bg.png) center center no-repeat;
    background-size: cover;
    color: $white;
}
.about-2 {
    background: url(../images/about-bg-2.jpg) center center no-repeat;
    background-size: cover;
    color: $white;
}
.about-title {
    font-size: 36px;
    line-height: 46px;
}