.about {
    background: url(../images/about-bg.png) center center no-repeat;
    background-size: cover;
    color: $white;
}
.about-2 {
    background: url(../images/about-bg-2.jpg) center center no-repeat;
    background-size: cover;
    color: $white;
}
.about-title {
    font-size: 48px;
    line-height: 1.2;
}
.feature-img.p-relative::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: .25;
}

.feature-img.p-relative a.video-btn {
    z-index: 9;
    & i {
        transition: all .3s;
    }
    &:hover i {
        font-weight: 700;
    }
}