.app-download-2 {
    background: url(../images/app-download-bg.jpg) center center no-repeat;
    background-size: cover;
}
.app-download-title {
    font-size: 72px;
    line-height: 87px;
    color: $white;
}