.contact {
    background: url(../images/contact-bg.png) top center no-repeat;
    background-size: cover;
}
.contact-info-sub-txt {
    min-width: 100px;
}
.contact-social {
    font-size: 18px;
    &:hover {
        color: $color-1;
    }
}
.def-form {
    width: 100%;
    height: 45px;
    background: $white;
    border: 1px solid rgba($black, 0.2);
    &:focus {
        border-color: $color-1;
    }
}
.def-textarea {
    width: 100%;
    height: 90px;
    background: $white;
    border: 1px solid rgba($black, 0.2);
    vertical-align: top;
    &:focus {
        border-color: $color-1;
    }
}

.ui-datepicker-header {
    background: $gradient-1;
}
.ui-datepicker-title {
    color: $white;
}
.ui-widget-header .ui-icon {
    background-image: url(../vendor/images/jquery-ui-icons.png);
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: 50%;
    transform: translateY(-50%);
    background: rgba($white, 0.7);
    border: 1px solid $white;
    border-radius: 50%;
    &.ui-datepicker-prev-hover {
        top: 50%;
        left: 2px;
        background: $white;
    }
    &.ui-datepicker-next-hover {
        top: 50%;
        right: 2px;
        background: $white;
    }
}
.ui-state-default {
    border: 0 !important;
}
.ui-state-highlight {
    background: $gradient-1 !important;
    color: $white !important;
}
.ui-datepicker td {
    padding: 0;
    border: 1px solid rgba($black, 0.1);
    a {
        text-align: center;
    }
}