.counter {
    background: url(../images/counter-bg.png) center center no-repeat;
    background-size: cover;
}
.counter-inner {
    background: url(../images/counter-bg-2.jpg) center center no-repeat;
    background-size: cover;
}
.counter-box-2 {
    border-radius: 50%;
}
.counter-part-txt {
    color: $white;
}
.counter-txt {
    font-size: 48px;
    line-height: 100%;
}