.feature-part-icon {
    width: 100px;
    height: 100px;
}
.feature-icon {
    width: 100px;
    height: 100px;
}
.feature-txt {
    width: calc(100% - 120px);
}
.feature-sub-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: $color-2;
}
.feature-sub-title-2 {
    font-size: 72px;
    line-height: 100%;
}
.video-btn {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 48px;
    &.video-btn-2 {
        font-size: 36px;
    }
}
.feature-title {
    font-size: 172px;
    line-height: 100%;
    color: $color-2;
}
.r-gap-40 {
    row-gap: 40px;
}
.has-gradient-service > *:nth-child(1)  a {
    &:hover {
        color: #38CD78;
    }
}
.has-gradient-service > *:nth-child(2)  a {
    &:hover {
        color: #35ACE0;
    }
}
.has-gradient-service > *:nth-child(3)  a {
    &:hover {
        color: #FF5454;
    }
}
.has-gradient-service > *:nth-child(4)  a {
    &:hover {
        color: #E85AC9;
    }
}
