.gallery-container {
    max-width: 1920px;
}
.controls {
    border-bottom: 1px solid rgba($black, 0.2);
}
.gallery-filter-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
        width: 15px;
        height: 15px;
        background: $white;
        border-top: 1px solid rgba($black, 0.2);
        border-right: 1px solid rgba($black, 0.2);
        opacity: 0;
        transition: $transition;
    }
    &.active {
        &:after {
            opacity: 1;
        }
    }
}
.gallery-image {
    width: calc(100% / 3 - 24px);
    &:hover, &:focus-within {
        .gallery-txt {
            opacity: 1;
        }
    }
}
.gallery-image-2 {
    width: calc(100% / 3);
}
.gallery-txt {
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background: rgba($color-10, 0.94);
    color: $white;
    opacity: 0;
    transition: $transition-ease;
}
.gallery-popup {
    text-align: center;
    width: 58px;
    height: 58px;
    line-height: 50px;
    background: $white;
    border: 4px solid rgba($color-10, 0.5);
    border-radius: 50%;
}
.gallery-title {
    font-size: 24px;
    line-height: 100%;
    font-weight: 700;
}
.gallery-sub-title {
    font-size: 16px;
    line-height: 100%;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
.mfp-figure:after {
    display: none;
}