.staff-details-title {
    font-size: 32px;
    line-height: 100%;
    font-weight: 700;
    color: $color-2;
}
.staff-position {
    font-size: 16px;
    line-height: 100%;
}
.staff-details-txt {
    line-height: 32px;
    color: $black-3;
}